.form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  width: 350px;
}

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Signup {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  background-color: bisque;
}

.formTitle {
  margin-bottom: 20px;
}
