.center {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
  flex-flow: column;
}

.scoreTable {
  display: block;
  table-layout: fixed;
  width: 100%;
}

.scoreTableBody {
  width: 100%;
}
